---
layout: default
---
<!--HEADER-->
<!--LOGO Y ENLACES-->
<div class="container">
    <div class="row o-header">
        <div class="col-md-5 col-xs-5">
            <img src="assets/images/DivinaPastoraGame/logotipo.svg" />
            <button class="c-boton--menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="col-md-2 col-xs-2 c-link">
            <div class="c-link__telefono">963 113 340</div>
        </div>
        <div class="col-md-2 col-xs-2 c-link">
            <a href="" class="c-link--header">¿O TE LLAMAMOS?</a>
            <img class="c-link__image" src="assets/images/DivinaPastoraGame/Icon.svg" />
        </div>
        <div class="col-md-1 col-xs-1 c-link">
            <a href="" class="c-link--header">CONTACTO</a>
        </div>
        <div class="col-md-2 col-xs-2 c-link">
            <a href="" class="c-link--header">AREA CLIENTES</a>
            <img class="c-link__image" src="assets/images/DivinaPastoraGame/Icon 2.svg" />
        </div>

    </div>

</div>
<!--/LOGO Y ENLACES-->

<hr/ class="c-separador--grande">

    <!--MENU -->
    <div class="container">
        <ul class="c-header-menu">
            <li class="c-header-menu__element--primero">
                <a href="" class="o-media-object">SEGUROS</a>
                <img class="u-flipImage" src="assets/images/DivinaPastoraGame/Icon_Arrow Down.svg" />
            </li>
            <li class="c-header-menu__element"><a href="">DIVINA PASTORA</a></li>
            <li class="c-header-menu__element"><a href="">BLOG</a></li>
            <li class="c-header-menu__element"><a href="">PATROCINIOS</a></li>
        </ul>
    </div>
    <!--/MENU-->

    <!--SUBMENU-->
    <div class="c-section--fondoGris--oscuro">
        <div class="container">
            <ul class="c-header-submenu">
                <li class="c-header-submenu__element--primero">
                    <img src="assets/images/DivinaPastoraGame/Fill 1.svg" /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SALUD
                </li>
                <li class="c-header-submenu__element"><a href="">Salud Completo</a></li>
                <li class="c-header-submenu__element"><a href="">Especialistas</a></li>
                <li class="c-header-submenu__element"><a href="">Salud Dental</a></li>
                <li class="c-header-submenu__element"><a href="">Oncosalud</a></li>
            </ul>
        </div>
    </div>
    <!--/SUBMENU-->
    </div>
    <!--/HEADER-->

    <!--CONTENT-->
    <!--CUADRO_FOTO+OFERTA-->
    <div class="u-flex__container">
        <div class="u-flex__element--chica ">
            <p class="c-text--sobre-imagen">
                <span class="c-text--sobre-imagen__fondoTurquesa">Seguro Salud Completo</span><br/><br/>
                <span class="c-text--sobre-imagen__fondoBlanco c-title--h2">Siempre hay</span><br/>
                <span class="c-text--sobre-imagen__fondoBlanco c-title--h2">un motivo</span><br/>
                <span class="c-text--sobre-imagen__fondoBlanco c-title--h2">para cuidarse</span>
            </p>
        </div>
        <div class="u-flex__element--md100 c-cuadroTurquesa c-title--h1">
            <p class="c-cuadroTurquesa__texto">El cuadro médico más extenso desde 45€ al mes</p>
            <button class="c-boton--rosa u-font-size-base">CALCULA TU SEGURO</button>
        </div>
    </div>
    <!--/CUADRO_FOTO+OFERTA-->

    <!--VENTAJAS_ICONOS-->
    <div class="c-section--fondoGris--claro">
        <div class="container">
            <div class="u-flex__container o-text-center">
                <div class="o-media">
                    <img src="/assets/images/DivinaPastoraGame/diente-icon.svg">
                    <p class="c-icono-texto">Escoge libremente los <strong>especialistas </strong>que tú quieras</p>
                </div>
                <div class="o-media">
                    <div>
                        <img src="/assets/images/DivinaPastoraGame/diente-icon.svg">
                        <p class="c-icono-texto">Adaptados a tu <strong>horario </strong>y sin listas de espera</p>
                    </div>
                </div>
                <div class="o-media">
                    <div>
                        <img src="/assets/images/DivinaPastoraGame/diente-icon.svg">
                        <p class="c-icono-texto">Con nuestro <strong>Seguro Dental </strong>también incluido</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/VENTAJAS_ICONOS-->

    <!--QUE_INCLUYE-->
    <div class="container c-section">
        <div class="row">
            <div class="col-md-12">
                <div class="c-title c-title--principal">¿Qué incluye el Seguro Salud Completo?</div>
                <div class="c-title c-title--sub">Un Seguro con amplias coberturas y muchísimas ventajas</div>
            </div>
        </div>
        <hr class="c-separador--pequeño" />
        <div class="row">
            <div class="col-md-6">
                <ul class="c-lista-check">
                    <li>Asistencia primaria: medicina general, pediatría, puericultura y servicios de ATS/DUE.</li>
                    <li>Medios de diagnóstico, incluídos los de alta tecnología. </li>
                    <li>Urgencias en las mejores clínicas. </li>
                    <li>Hospitalización con habitación individual con cama acompañante. </li>
                    <li>Otros servicios incluídos (ambulancias, preparación al parto, podología, prótesis…)</li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="c-lista-check">
                    <li>Asistencia de Urgencia a domicilio. </li>
                    <li>Especialidades médicas quirúrgicas.</li>
                    <li>Consulta psicológica.</li>
                    <li>Incluimos todas las coberturas de nuestro Seguro Dental. </li>
                    <li>Tratamientos médicos especiales.</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 o-text-center">
                <a href="" class="c-link--body">Ver todas las coberturas</a><img class="c-link__image" src="assets/images/pdfIcon.png">
            </div>
            <div class="col-md-12 o-text-center">
                <button class="c-boton--rosa u-font-size-base">CALCULA TU SEGURO</button>
            </div>
        </div>
        <!--/QUE_INCLUYE-->

        <!--CUADRO_PLUS-->
        <div class="row">
            <div class="col-md-12">
                <div class="c-dottedBox">
                    <p class="c-dottedBox__text--title u-font-size-large"><span>¿Quieres darle un plus?</span></p>
                    <p class="c-dottedBox__text--p">Añade el complemento <span>Salud Plus</span> y contarás con una triple asistencia: personal, familiar
                        y domiciliaria en caso de fallecimiento, hospitalización e inmovilización en domicilio por convalecencia.</p>
                    <button class="c-boton--plus"></button>
                </div>
            </div>
        </div>
    </div>
    <!--/CUADRO_PLUS-->
    </div>

    <!--FORM_BUSCAR-->
    <div class="c-section c-section--fondoGris--claro">
        <div class="container">
            <div class="row ">
                <div class="col-md-12 ">
                    <div class="c-title c-title--principal">El cuadro médico más completo</div>
                </div>
            </div>
            <hr class="c-separador--pequeño" />
            <div class="row">
                <div class="col-md-6">
                    <div class="c-input">
                        <p>Elige la modalidad <span>obligatorio</span></p>
                        <select class="c-input__field"><option></option></select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="c-input">
                        <p>Especialista</p>
                        <select class="c-input__field"><option></option></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="c-input">
                        <p>¿Qué buscas?</p>
                        <input class="c-input__field" placeholder="Provincia, Localidad, CP, Centro o nombre del médico" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 o-text-center">
                    <button class="c-boton--rosa u-font-size-base">Buscar</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 o-text-center">
                    <p>Consulta el cuadro médico en cualquier momento en nuestras apps</p>
                    <a href=""><img class="u-icon--googleplay" src="assets/images/googleplay.png" /></a>
                    <a href=""><img class="u-icon--appstore" src="assets/images/appstore.png" /></a>
                </div>
            </div>
        </div>
    </div>
    <!--/FORM_BUSCAR-->

    <!--PREGUNTAS_FRECUENTES-->
    <div class="container o-text-center c-section">
        <div class="row">
            <div class="col-md-12">
                <span class="c-title c-title--principal">Preguntas frecuentes</span>
                <hr class="c-separador--pequeño" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="c-desplegable">
                    <div class="c-desplegable__titulo u-font-size-large">
                        Phasellus purus ligula, dictum eget eros at, vulputate cursus nisiullam placerat?
                        <img class="u-icon--plus" src="/assets/images/plus2.png" />
                    </div>
                    <div class="c-desplegable__elemento">
                        Otro elemento desplegable
                    </div>
                </div>
                <div class="c-desplegable">
                    <div class="c-desplegable__titulo u-font-size-large">
                        Morbi gravida metus ut felis eleifend, at elementum lacus blanditulla nec orci malesuada?
                        <img class="u-icon--plus" src="/assets/images/plus2.png" />
                    </div>
                    <div class="c-desplegable__elemento">
                        Otro elemento desplegable
                    </div>
                </div>
                <div class="c-desplegable">
                    <div class="c-desplegable__titulo u-font-size-large">
                        Vestibulum rutrum lectus mauris, non commodo sapien tincidunt vel?
                        <img class="u-icon--plus" src="/assets/images/plus2.png" />
                    </div>
                    <div class="c-desplegable__elemento">
                        Otro elemento desplegable
                    </div>
                </div>
                <div class="c-desplegable">
                    <div class="c-desplegable__titulo u-font-size-large">
                        Aliquam ut justo id neque gravida venenatiam et nisi auctor ante tincidunt dignissim?
                        <img class="u-icon--plus" src="/assets/images/plus2.png" />
                    </div>
                    <div class="c-desplegable__elemento">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam consequat placerat ipsum tincidunt varius. Suspendisse pellentesque
                        est vitae magna bibendum, at luctus elit tristique. Integer ac urna ut velit rutrum tristique eu
                        sed tellus. Sed dignissim ex nec accumsan ultrices. Integer at quam eget arcu egestas blandit vel
                        sit amet justo. Nam a turpis ac massa luctus maximus. Morbi ullamcorper ipsum nibh, a facilisis felis
                        facilisis eget.
                        <br/> Aliquam feugiat ornare massa volutpat molestie. Praesent efficitur lorem at turpis convallis,
                        sit amet faucibus odio semper. Suspendisse vitae ligula ac ante cursus mollis et vel diam. Sed varius
                        diam eget commodo molestie. Vivamus maximus ante iaculis mauris malesuada eleifend. Duis consectetur
                        odio ut diam pulvinar volutpat. Maecenas a mattis diam. Maecenas orci mauris, mattis ut dolor nec,
                        laoreet feugiat augue.
                    </div>
                </div>
                <div class="c-desplegable">
                    <div class="c-desplegable__titulo u-font-size-large">
                        Nullam ut cursus euspendisse interdum mauris magna, ut consectetur eros rhoncus a?
                        <img class="u-icon--plus" src="/assets/images/plus2.png" />
                    </div>
                    <div class="c-desplegable__elemento">
                        Otro elemento desplegable
                    </div>
                </div>
                <button class="c-boton--rosa u-font-size-base">Calcula tu seguro</button>
            </div>
        </div>
    </div>
    <!--/PREGUNTAS_FRECUENTES-->

    <!--SEGURO+ONCOSALUD-->
    <div class="c-section c-section--fondoGris--claro o-text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="c-title c-title--principal">Súmale la mejor medicina del mundo</span>
                    <div class="c-title c-title--sub">Y accede, en caso de enfermedad grave, al tratamiento internacional de enfermedades graves</div>
                    <hr class="c-separador--pequeño" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="c-dottedBox">
                        <p class="c-dottedBox__text u-font-size-large">Porque nuestro seguro de <span>Salud Completo</span> puede ser <span>aún mejor </span><br/> si lo
                            complementas con el <span><u>Seguro Oncosalud</u></span></p>
                    </div>
                </div>
            </div>
        </div>
        <p>Además, si contratas los dos seguros, <b>¡te haremos un descuento!</b></p>
        <button class="c-boton--rosa u-font-size-base">Calcula Seguro Completo + Oncosalud</button>
    </div>
    <!--/SEGURO+ONCOSALUD-->

    <div class="c-section o-text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="c-title c-title--principal">Y aún tenemos más</span>
                    <hr class="c-separador--pequeño" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
        </div>
    </div>
    <!--/CONTENT-->