/* ==  Paleta de colores  ==================== */

$grisOscuro : #54585A;
$gris:        #EEEEEE;
$grisClaro:   #F7F7F7; 
$grisOscuro2: #CCCCCC;
$naranja :    #ED8B00;
$turquesa:    #57bab1; 
$rosa:        #ff2e63;

/* ==  Fuentes  ==================== */

$font-size-h1:            48px;     //default 36px;
$font-size-h2:            39px;     //default 28px;
$font-size-h3:            30px;     //default 24px;
$font-size-h4:            25px;     //default 20px;
$font-size-h5:            18px;
$font-size-h6:            16px;

$font-size-large:         20px;     //default 16px;
$font-size-base:          16px;     //default 14px;
$font-size-small:         12px;     
$font-size-tiny:          10px;     //default 12px;

$line-height-base:        1.428571429; // 20/14
$line-height-computed:    floor(($font-size-base * $line-height-base)); // ~20px

$font-family-sans-serif: Arial, sans-serif;
// $headings-font-family: sans-serif;

// $icon-font-family: 'cetelem-ecommerce-icons';
// $icomoon-font-path: '../fonts/icons/fonts';

/* ==  Márgenes  ==================== */

$spacing: (
  tiny:  round($line-height-computed * 0.25),
  small:   round($line-height-computed * 0.5),
  base:   $line-height-computed,
  medium: round($line-height-computed * 2),
  large:  round($line-height-computed * 3),
  huge:   round($line-height-computed * 4)
);

$grid-breakpoints: (
  xs: 0,
  sm: 544px,
  md: 768px,
  lg: 9999999px,
  xl: 9999999px
);
