.s-text--sobre-imagen {
    padding-top: map-get($spacing, huge);
    
    font-family: ralewayBold;
}
.s-text--sobre-imagen__fondoTurquesa {
    margin-bottom: map-get($spacing, small);
    padding: map-get($spacing, small);
    
    font-size: $font-size-large;
    
    color:white;
    background-color: $turquesa;
}
.s-text--sobre-imagen__fondoBlanco {
    padding-top: map-get($spacing, tiny/2);
    padding-bottom:map-get($spacing, tiny/2); 
    padding-left: map-get($spacing, tiny);
    padding-right: map-get($spacing, base);
    
    font-family: ralewayBlack;
    text-transform: uppercase;
    
    color:$turquesa;
    background-color: white;
}