.c-header-menu{   
    @include baseFontSize(menu);
    @include noSpacing();
    
    list-style: none;
    @include media-breakpoint-down(xs) {
        display: none;
    }
}
.c-header-menu__element{ 
    display: inline-block; 
    padding: map-get($spacing, base);
    
    text-align: left;
    &:hover{
        > a{
            color:$naranja;
        }
        border-bottom: map-get($spacing, tiny) solid $naranja;
    }
}
.c-header-menu__element--primero{ 
    display: inline-block; 
    padding: map-get($spacing, base);
    padding-left: 0;
    
    text-align: left;
    > a{
        color:$naranja;
    }
    border-bottom: map-get($spacing, tiny) solid $naranja;
}

