.c-cuadroTurquesa {
    padding: map-get($spacing, medium);
    
    font-family: ralewayBlack;
    
    background-color: $turquesa;
}
.c-cuadroTurquesa__texto{
    padding: map-get($spacing, tiny);
    
    color: white;
}