.c-link {
    margin-top: map-get($spacing, small);
    
    color: $grisOscuro;
    &:hover{
        text-decoration: none;
    }
    @include media-breakpoint-down(xs) {
        display: none;
    }   
}
.c-link--header{

    margin-right: map-get($spacing, small);
    padding-bottom: map-get($spacing, tiny)/2;
    
    font-family: ralewayBold;
    text-decoration: none;
    font-size: $font-size-tiny;
    
    color: $grisOscuro;      
    border-bottom: medium solid $naranja;
    @include media-breakpoint-down(sm) {
        margin-right: 0;
        padding-bottom: 0;
    }   
}
.c-link__telefono {
    font-family: ralewayBlack;
    font-size: $font-size-base;
    text-align: right;
    font-weight: bold;
}
.c-link--body{
    padding-right: map-get($spacing, small);
    
    font-family: ralewayBold;
    font-size: $font-size-small;
    text-transform: uppercase;
    text-align: center;
    
    border-bottom: medium solid $naranja;
    color: $grisOscuro;
}
.c-link__image{
    width: map-get($spacing, base);
    height: map-get($spacing, base);
}