.c-separador--grande{
    width: 100%;
    
    border: solid 1.5px $gris;
    @include media-breakpoint-down(xs) {
        display: none;
    }
}
.c-separador--pequeño{
    width: map-get($spacing, huge);
    
    border: solid 4px $grisOscuro2;
}