.c-header-submenu{    
    @include baseFontSize();
    @include noSpacing();
    
    list-style: none;    
    @include media-breakpoint-down(xs) {
        display: none;
    }
}
.c-header-submenu__element{
    display: inline-block;
    padding: map-get($spacing, base);
    font-family: ralewayBold;
    
    text-align: center; 
    
    border-right: thin solid white;
    border-bottom: map-get($spacing, tiny) solid $gris;
    &:hover{
        > a{
            color: $turquesa;
        }
        border-bottom: map-get($spacing, tiny) solid $turquesa;
    }  
    @include media-breakpoint-down(sm) {
        padding: map-get($spacing, small);
    }
}
.c-header-submenu__element--primero{
    display: inline-block; 
    padding: map-get($spacing, base);
    padding-left: 0;
    
    border-right: thin solid white;
    color: $grisOscuro;
} 