.c-title{
    text-align: center;
}
.c-title--h1{
    font-size : $font-size-h1;
}
.c-title--h2{
    font-size : $font-size-h2;
}
.c-title--h3{
    font-size: $font-size-h3;
}
.c-title--principal{
    font-size : $font-size-h2;
    font-family: ralewayBlack;
    
    color: $turquesa;
}
.c-title--sub{
    font-family: ralewayBold;
    font-size: $font-size-large;
    
    color: $grisOscuro;
}