.c-section {
    padding: map-get($spacing, medium);
    padding-top: map-get($spacing, medium);
    padding-bottom: map-get($spacing, medium);
    
    font-family: raleway;
    
    color: $grisOscuro;
}
.c-section--fondoGris--oscuro {
    background-color: $gris;
}
.c-section--fondoGris--claro {
    background-color: $grisClaro;   
    > p{
        margin-top: map-get($spacing, medium);
        
        font-family: raleway;
        font-size: $font-size-base;
        
        color: $grisOscuro;
        > b {
            font-family: ralewayBold;
        }
    }
}