.c-boton--rosa{
    margin: map-get($spacing, base);
    padding: map-get($spacing, base);
    
    font-family: ralewayBlack;
    text-transform: uppercase;
    text-align: center;
    
    border-radius: map-get($spacing, tiny);
    border: 1px solid white;
    background-color: $rosa;
    color: white;
}
.c-boton--plus {
    position: absolute;
    width: map-get($spacing, medium);
    height: map-get($spacing, medium);
    bottom: map-get($spacing, medium);
    right: map-get($spacing, medium);
    
    border: none;
    background-size: cover;
    background-color: transparent;
    background-image: url("/assets/images/plus.png"); 

    
    @include media-breakpoint-down(xs) {
        position: static;
    } 
}
.c-boton--menu{
    display: none;
    @include media-breakpoint-down(xs) {
        display: inherit;
        float: right;
        padding: map-get($spacing, base);
        background-image: url('/assets/images/desplegable.png');
        background-size: cover;
        border: none;
        border-radius: map-get($spacing, tiny);
    }   
}