.c-desplegable{
    margin-top: map-get($spacing, base);
    padding: map-get($spacing, base);
    
    text-align: left;
    
    border-bottom: medium solid $grisOscuro2 ;
    &:first-child{
        border-top: medium solid $grisOscuro2;
    }
    //Esto probablemente deberia ser con onClick() en jquery, con una transición suave...
    &:hover{  
        > .c-desplegable__elemento{
            display: inherit;   
        }
         > div:first-child{
            color: $turquesa;
         }
    }
}
.c-desplegable__titulo{
    font-family: ralewayBold;
    
    color: $grisOscuro;
}
.c-desplegable__elemento{
    display:none;
    padding: map-get($spacing, base);
    
    font-family: raleway;
    
    color: $grisOscuro;
}