.c-text--sobre-imagen {    
    padding-top: map-get($spacing, huge);
    margin:0px;
    
    font-family: ralewayBold;
}
.c-text--sobre-imagen__fondoTurquesa {
    padding: map-get($spacing, small);
    
    font-size: $font-size-large;
    
    color:white;
    background-color: $turquesa;
}
.c-text--sobre-imagen__fondoBlanco {
    padding-top: map-get($spacing, tiny);
    padding-left: map-get($spacing, tiny);
    padding-right: map-get($spacing, base);
    
    font-family: ralewayBlack;
    text-transform: uppercase;
    
    color:$turquesa;
    background-color: white;
}