.c-dottedBox{ 
    padding: map-get($spacing, medium); 
    
    border: map-get($spacing, tiny)/1.5 dashed $grisOscuro2;
    color: $grisOscuro;
    @include media-breakpoint-down(xs) {
        text-align: center;
    }
}
.c-dottedBox__text--title{
    span {
        color: $turquesa;
    }  
    @include media-breakpoint-down(xs) {
        font-size: $font-size-h3;
        font-family: ralewayBold;
    }
}
.c-dottedBox__text{    
    u {
        color: $turquesa;
    }  
    span {
        font-family: ralewayBold;
    }
}
.c-dottedBox__text--p{    
    width: 80%;
    
    font-size: $font-size-base;
    font-family: raleway;
    
    color: $grisOscuro;
    span{
        font-family: ralewayBold;
        color: $turquesa;
    }
    @include media-breakpoint-down(xs) {
        width: 100%;
    }
}