.c-lista-check{
    padding: map-get($spacing, base);

    font-size: raleway;
    font-size: $font-size-base;

    list-style: none;
    list-style-image: url('/assets/images/DivinaPastoraGame/check.svg');
    color: $grisOscuro;
    > li{
        padding: map-get($spacing, small);
    }
}