.c-input{
    p{
        margin: 0;
        margin-top: map-get($spacing, medium);
   
        font-family: ralewayBold;
        font-size: $font-size-large;
        
        color: $grisOscuro;
        span {
            font-size: $font-size-small;
            font-weight: bold;
            font-family: raleway;
            font-style: italic;
            
            color: $grisOscuro2;
        }
    }
}
.c-input__field{
    width: 100%;
    margin-bottom: map-get($spacing, base);
    padding-top: map-get($spacing, base);
    padding-bottom: map-get($spacing, base);
    
    border: none;
    border-bottom: medium solid $grisOscuro2;
    background-color: transparent;  
}