.u-font-size-h1 {
    font-size: $font-size-h1;
}

.u-font-size-h2 {   
    font-size: $font-size-h2;
}

.u-font-size-h3 {
    font-size: $font-size-h3;
}

.u-font-size-h4 {
    font-size: $font-size-h4;
}

.u-font-size-large {
    font-size: $font-size-large;
}

.u-font-size-base {
    font-size: $font-size-base;
}

.u-font-size-small {
    font-size: $font-size-small;
}

.u-font-size-tiny {
    font-size: $font-size-tiny;
}