.u-flipImage{
    -moz-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
}
//Super números mágicos del horror porque las imagenes no son las originales del sketch :(
.u-icon--googleplay {
    width: 170px;
    height: 73px;
}
.u-icon--appstore {
    width: 150px;
    height: 50px;
}
.u-icon--plus{
    width: 30px;
    float:right;
}