.u-flex__container{
    padding: 0;
    margin: 0;
    list-style: none;
  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  
    justify-content: space-around;
    @include media-breakpoint-down(sm) {
        display: table;
    }    
}
.u-flex__element--md100{
    width: 50%;
    @include media-breakpoint-down(sm) {
        width: 100%;
    }
}
.u-flex__element--chica{
    width: 50%;
    
    background-image: url('/assets/images/DivinaPastoraGame/chica-bg.jpg');
    background-size: cover;
    @include media-breakpoint-down(xs) {
        display: none;
    }
    @include media-breakpoint-down(sm){
        width: 100%;
        padding-bottom: map-get($spacing, huge);
    }
}