<!DOCTYPE html>
<!--[if IE 9]>         <html class="no-js ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->

  {% include head.html %}

  <body>

    {{ content }}

    <!-- footer:js -->
    <!-- endinject -->

  </body>

</html>
